.jumbo  {
  opacity: .8;

  background-color: black;
  color: white;
}

.panel-heading, button{

  background-color: black !important;

  opacity: .8 !important;
  color: white !important;
}

.panel-default{
  background: transparent;
}
.panel-body{
  background: white;
}
.panel-title{
  font-size: 2.5em;
}
.text-label{
  font-size: 1.5em;
}

#searchButton{
  font-size: 2.5em;
}
